body{
    text-align: center;
}

h1{
    margin: 0 auto;
}

.top-cloud{
    position: absolute;
}

.bottom-cloud{
    position: absolute;
}

.middle-container{
    width: 200px;
    height: 200px;
    background-color: blue;
}

.bottom-container {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
}