body {
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif; */
}

#title {
    background-color: #ff4c68;
}

.container-fluid{
    padding: 3% 15%;
}

.nav-title{
    font-family: 'Ubuntu',
    sans-serif;
    font-weight: 700;
    font-size: 3em;
}

h1{
    font-family: 'Montserrat',
    sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}